{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-expressions": 0
  },
  "extends": "react-app"
}
